---
import CallToAction from "@/components/CallToAction.astro"
import SectionResize from "@/components/SectionResize.astro"
import ShowMoreButton from "@/components/ShowMoreButton.astro"
import ShowMoreIcon from "@/components/icons/ShowMoreIcon.astro"
import Whatsapp from "@/components/icons/Whatsapp.astro"
import { ProductCarousel } from "@/components/react/Carousel"
import Layout from "@/layouts/Layout.astro"
import { ALL_PARAMS } from "@/shared/constants"
import Search from "@icons/Search.astro"
import { ImageCarrousel } from "@react/ImageCarrousel"
import { Categories, Products, db, eq, isNull, sql } from "astro:db"
import { motion } from "framer-motion"
const id = parseInt(Astro.params?.id) || 0

const [data] = await db
	.select()
	.from(Products)
	.leftJoin(Categories, eq(Products.categoryId, Categories?.id))
	.where(eq(Products?.id, id))

const product = data?.Products
const category = data?.Categories

const productImages = [product?.imageUrl, product?.imageUrl2, product?.imageUrl3].filter(
	(imageUrl) => imageUrl !== null
)

// get todos los productos con categoria null
const queryProductsCategories = db
	.select()
	.from(Products)
	.limit(10)
	.orderBy(sql`RANDOM()`)

if (!category) {
	queryProductsCategories.where(isNull(Products.categoryId))
} else {
	queryProductsCategories.where(eq(Products.categoryId, category?.id))
}

const initialProducts = await queryProductsCategories

if (!product) {
	return Astro.redirect("/")
}
---

<Layout title={product.name + " 🏗️"}>
	<SectionResize className=" flex flex-col  ">
		<div class="flex w-full flex-col justify-between sm:flex-row">
			<div class="flex w-full items-center justify-center py-12">
				<motion.div
					client:load
					initial={{ opacity: 0, y: 20 }}
					animate={{ opacity: 1, y: 0 }}
					transition={{ duration: 0.3 }}
					whileHover={{
						scale: 1.05,
						transition: { duration: 0.3 },
					}}
					className="group relative size-72 overflow-hidden  rounded-[3rem] shadow-2xl hover:scale-110"
				>
					<div
						class="pointer-events-none absolute right-5 top-5 flex size-10 cursor-pointer items-center justify-center rounded-full border border-transparent bg-white/40 p-2 text-black/20 shadow-2xl transition-all group-hover:scale-110 group-hover:border-white group-hover:bg-white/70 group-hover:text-black/80"
					>
						<Search />
					</div>
					<ImageCarrousel client:load productImages={productImages} />
				</motion.div>
			</div>
			<div class="w-full max-w-lg p-3 text-white sm:p-12">
				{product?.name && <h1 class=" text-3xl font-medium leading-6">{product.name}</h1>}
				<div class="mt-4 flex gap-1 text-sm">
					{
						product.sku && (
							<span class="flex items-center justify-center rounded-lg border border-customOrange-500 bg-customBlue-600 px-2 py-1 leading-3 text-customOrange-500">
								{product?.sku}
							</span>
						)
					}
					<a
						href={`/productos/?${ALL_PARAMS.categories}=${category?.id || "null"}`}
						class="flex items-center justify-center rounded-lg border border-customOrange-500 bg-customBlue-600 px-2 py-1 leading-3 text-customOrange-500"
					>
						{category?.name || "Sin categoría"}
					</a>
				</div>
				{
					product?.description && (
						<p class=" mt-2 text-base font-light leading-5 text-white/80">{product?.description}</p>
					)
				}
				<p class="mt-3 text-xl">{product.price}. Gs</p>
				<CallToAction id="CallToWhatsapp" color="orange" href="#">
					Comprar en Whatsapp
					<Whatsapp />
				</CallToAction>
			</div>
		</div>

		<div class="mb-3 mt-2 flex w-full justify-end">
			<ShowMoreButton href="/productos/">
				<p class="text-[18px]">Ver más</p>
				<ShowMoreIcon />
			</ShowMoreButton>
		</div>

		<ProductCarousel client:load initialProductsCarousel={initialProducts} />
	</SectionResize>
</Layout>
